.btn-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  .join-btn {
    margin-left: 10px;
  }
  .sign-in {
    color: gray;
    margin-top: 5px;
    cursor: pointer;

  }
}
.signin-popup-container.left::before {
  background-color: #ECF0F1 !important;
  box-shadow: none !important;
}

.signup-popup-container.left::before {
  background-color: #ECF0F1 !important;
  box-shadow: none !important;
}

