.signup-inputs{
input{
	border: solid 0px transparent !important;
	}	
}

.role-checkbox.checkbox {
  transform: scale(2);
  margin-left: 20px
}
.checkbox label::before{
	border: solid 0px transparent !important;
}
.checkbox label::after{
	color: green !important;
}
