.dashboard-container{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 5px;
    .board-content{
        display: flex;
        height: 100%;
        width: 85%;
        background: white;
    }
            .side-bar-container{
              width: 15%;
            }
}