.dashboard-container {
	display: flex;
	height: 100%;
	width: 100%;
	margin-top: 5px;
	.board-content {
		display: flex;
		justify-content: center;
		height: 100%;
		width: 90%;
		background: white;
		div {
			width: 90%;
		}
	}
	.side-bar-container {
		width: 15%;
	}
}
