.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 10px;
  .drop-down {
    margin-right: 50px;
    color: gray;
    .drop-down-chevron{
     margin-left: 10px;
        }
    .drop-down-menu.left{
     background-color: #ECF0F1;
      border-radius: 10px;
      width: 200px;
    }
  }
}
