.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 10px;
  h1 {
    color: green;
  }
  .drop-down {
    margin-right: 50px;
    color: 'grey';
  }
}
