.content-container {
  .items-container {
    .container {
      margin-left: 30px;
      margin-right: 50px;
      height: auto;
      .card-group-container {
        width: auto;
        padding-right: 30px;
      }
    }
  }
}
