.item-description-container {
	margin-left: 20px;
	margin-left: 20px;
	margin-right: 10px;
	font-size: 12px;

	.item-description {
		display: flex;
		flex-direction: column;
		justify-content: 'space-around';
		border-bottom: solid 2px #d7dbdd;

		.item-info {
			margin: 5px 0 5px 0;
			display: flex;

			.rating .active {
				color: #f39c12;
			}
		}
	}

	.item-amount {
		border-bottom: solid 2px #d7dbdd;

		.item-content-info {
			display: flex;
			flex-direction: column;
			margin: 10px 0 10px 0;

			span {
				margin: 5px 0 0 0;
			}
		}
	}

	.item-types {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 10px 0 10px 0;

		.item-types-images {
			display: flex;

			span {
				margin-right: 20px;
				width: 50px;
			}
		}
		.item-quantity {
			width: 7%;
		}
	}
	.item-description-btn {
		margin: 30px 0 0 0;

		.add-to-cart-btn {
			button {
				background-color: #9c640c;
				color: white;
			}
		}
	}
}
