.input-field{
    margin-bottom: 20px !important;
    .form-input input{
        height: 25px;
        border: none !important;
    }
    .form-input-bordered input{
        width: 100%;
        height: 30px;
        border: #cbcbcb solid 2px !important;
    }
}