.drop-down-container {
  background-color: #ecf0f1;
  color: grey;
  height: 35px;
  width: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-right: 10px;
}
