.items-table-container{
    width: 100%;
    height: auto;
    box-shadow: none !important;
    .table-container{
        border-radius: 5px !important;
        table{
            border: #e0e0e0 solid 1px !important;
            .table-header{
                border-radius: 10px !important;
                background: #8e95a0 !important;
                th{
                    
                    color: white !important;
                    font-weight: bold;
                }
            }
        }
    }
}